<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script>
     function handlePrime(num) {
        if(num>=1000000) {
          return '传入的数据需要在1000000内哟!!'
        }
        let isPrime = true; // 假设变量  值为true 是素数 
        for( let i = 2 ; i < num ; i++ ){
          if( num % i == 0 ){// 满足这个条件  说明有因子了  不是素数
              isPrime = false;// 不是素数
              break;
          }
        }
        return isPrime
     }
     
     let startTime = Date.now()
     handlePrime(888887)
     let endTime = Date.now()
     console.log(endTime-startTime)
  </script>
</body>
</html>